# python
__pycache__/
*.pyc
*.db
.env

backend/venv/lib/
backend/venv/lib64
backend/venv/bin/
backend/venv/include/
backend/venv/pyvenv.cfg
backend/venv/.pytest_cache/

# frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# ide
.vscode/
.idea/
.DS_Store

# meri apni tayari ki file, push nahi karni
interview-prep.pdf
