# python
__pycache__/
*.pyc
*.db

backend/venv/lib/
backend/venv/bin/
backend/venv/include/
backend/venv/pyvenv.cfg
backend/venv/.pytest_cache/

# frontend
frontend/node_modules/
frontend/dist/

# ide
.vscode/
.idea/
.DS_Store

# readme baad mein add karenge
README.md
